<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/createbook" method="post">
    <input type="text" name="isbn" placeholder="ISBN" required>
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="authors" placeholder="Author" required>
    <input type="text" name="totalPages" placeholder="Total Pages" required>
    <input type="date" name="publishedDate" placeholder="Published Date" required>
    <button type="submit">Add Book</button>
</form>
</body>
</html>